.input-container {
    border: 1px dashed #b3b3b3;
    padding: 1rem;
   margin: 0.2rem;
    border-radius: 8px;
    background-color:  rgb(245, 245, 245);
    position: relative;
  
    &.ProseMirror-selectednode {
      outline: 2px solid #dad8d2;
    }
  
    .input-inner {
      display: flex;
      align-items: center;
      
      outline: none;

  
      &:focus {
        outline: none;
      }
  
      * {
        color: #333;
      }
  
      p {
        color: var(--tt-gray-light-a-400);
      font-size: 0.875rem;
      }
    }
  }
  